
/* Navbar */
.navbar-title {
    font-size: 80vw;
}



/* Body */
.bg {
    background: url('./../images/background.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
}

/* SECTION: TEXT */
.text-a-black {
    text-decoration: none;
    color: black;
}

/* SECTION: NAVBAR */
.navbar {
    background-color: rgb(255, 110, 55);
}


/* SECTION: BUTTON */
.btn-primary {
    background-color: rgb(255, 110, 55);
    border-color: rgb(255, 110, 55);
}
.btn-primary:hover {
    background-color: rgb(230, 100, 50);
    border-color: rgb(230, 100, 50);
}

.btn-primary:active {
    background-color: rgb(230, 100, 50);
    border-color: rgb(230, 100, 50);
}

.btn-primary:focus {
    background-color: rgb(230, 100, 50);
    border-color: rgb(230, 100, 50);
}

/* SECTION: TEXTBOX with/without property*/
.input-group-text {
    background-color: rgb(255, 110, 55);
    color: white;
    border-color: rgb(255, 110, 55);
}

/* SECTION: TABLE */

.table-members {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

.table-members th {
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 110, 55);
    color: white;
    font-weight: bold;
}

.table-members td {
    text-align: center;
    padding: 6px;
    background-color: white;
    color: black;
}



/* SECTION */
